<div class="row-fluid">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    I'm a synthetic-chemist-turned-coder. The common thread? I love <i>building</i>
    stuff. I see beauty in computer science which
    I first saw in chemistry when I realized that the simple patterns which create the
    complex reactions that sustain life are the same patterns we harness to fashion
    new molecules from old ones.
    <br/>
    <br/>
    My attention has turned to the potential of computation to harness the wealth of information
    now pouring in from high and low. Although channeling this productive force to accomplish
    social, economic, or political good is no simple task, I'm eagerly moving as
    quickly as I can toward that end, and thoroghly enjoying the process.
    <br/>
    <br/>
    Take a look at some of my recent <%=link_to "projects", "/projects"%> or
    check out my <%= link_to "blog", "/blog" %>.
  </div>
  <div class="col-md-2">
  </div>
</div>
