<div class="row-fluid">
    <div class="span2">
    </div>
    <div class="span8">
    Part chemist, part coder, part artist, part athlete, part unicylist, part
    outdoor enthusiast, total geek.
    Give me a skill to learn, a contraption to build, some numbers to crunch,
    a process to automate, or a perplexus epic and you may have to remind me
    to eat. (That's saying something.)
    <br/>
    Scroll to the bottom of <%=link_to "my artwork page", "/artwork" %> to see
    the kind of thing that often gets built when I go on a trip to the beach.
    <br/>
    I recently noticed that the most worn-down keys on my laptop are vim commands.
    </div>
    <div class="span2">
    </div>
</div>
