<div class="center row-fluid">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
        <%= image_tag "artwork/pompeii_dog.png"%><br/>
        A dog sleeps in the ruins of pompeii (colored pencil on paper)
        </br>
        </br>
        </br>
        <%= image_tag "artwork/self_pencil.png"%><br/>
        Self portrait (pencil on paper)
        </br>
        </br>
        </br>
        <%= image_tag "artwork/max.png"%><br/>
        My friend Max makes good use of his lunch hour (charcoal on paper)
        </br>
        </br>
        </br>
        <%= image_tag "artwork/turtle.png"%><br/>
        A sea turtle I built in Santa Monica, CA (sand on beach)
        </br>
        </br>
        </br>
    </div>
    <div class="col-md-3">
    </div>
</div>
