<div class="center row-fluid">
    <div class="span3">
    </div>
    <div class="span6">
        <%= image_tag "artwork/pompeii_dog.png"%><br/>
        <%= image_tag "artwork/self_pencil.png"%><br/>
        <%= image_tag "artwork/max.png"%><br/>
        <%= image_tag "artwork/turtle.png"%><br/>
    </div>
    <div class="span3">
    </div>
</div>
