<div class="center row">
    <div class="col-md-12">
        <%= image_tag "artwork/pompeii_dog.png", :class=>"style_image"%><br/>
        A dog sleeps in the ruins of pompeii (colored pencil on paper)
        </br>
        </br>
        </br>
        <%= image_tag "artwork/self_pencil.png", :class=>"style_image" %><br/>
        Self portrait (pencil on paper)
        </br>
        </br>
        </br>
        <%= image_tag "artwork/max.png" %><br/>
        My friend Max makes good use of his lunch hour (charcoal on paper)
        </br>
        </br>
        </br>
        <%= image_tag "artwork/turtle.png", :class=>"style_image" %><br/>
        A sea turtle I built in Santa Monica, CA (sand on beach)
        </br>
        </br>
        </br>
    </div>
</div>
