<div class="center">
  <div class="span3">
    <h2>Links</h2>
    <p>
      <%= link_to "Colossal", "http://www.thisiscolossal.com"%>
    </p>
  </div>
  <div class="span6">
    <h2>Useful</h2>
    <p>
      <a href=http://cleardarksky.com/c/Bostonkey.html>
      <img src="http://cleardarksky.com/c/Bostoncsk.gif?c=1414829"></a>
    </p>
    <h2>Deprecated</h2>
    <%= image_tag "venn.png" %>
  </div>
  <div class="span3">
    <table>
      <tr>
        <td>
          <a href="https://twitter.com/philmngo" class="twitter-follow-button"
            data-show-count="false">Follow @philmngo</a>
          <script>!function(d,s,id){
            var js,fjs=d.getElementsByTagName(s)[0];
            if(!d.getElementById(id)){
              js=d.createElement(s);
              js.id=id;js.src="//platform.twitter.com/widgets.js";
              fjs.parentNode.insertBefore(js,fjs);
            }
          }(document,"script","twitter-wjs");</script>
        <td/>
        <td>
          <div id="fb-root"></div>
          <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
            fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));</script>
          <div class="fb-like float-left" data-href="http://www.philngo.me"
            data-send="false" data-layout="button_count" data-width="450"
            data-show-faces="true">
          </div>
        <td/>
        <td>
         <!-- Place this tag where you want the +1 button to render. -->
          <div class="g-plusone" data-size="medium"></div>

          <!-- Place this tag after the last +1 button tag. -->
          <script type="text/javascript">
            (function() {
              var po = document.createElement('script');
              po.type = 'text/javascript'; po.async = true;
              po.src = 'https://apis.google.com/js/plusone.js';
              var s = document.getElementsByTagName('script')[0];
              s.parentNode.insertBefore(po, s);
            })();
          </script>
        <td/>
      <tr/>
    </table>
  </div>
</div>
