<div class="row-fluid">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <% @topics.each do |topic| %>
      <%= render "project_panel", :title=>topic.title, :projects => topic.projects %>
    <% end %>
  </div>
  <div class="col-md-2">
  </div>
</div>
