<div class="row-fluid">
    <div class="span2">
    </div>
    <div class="span8">
    <ul><li>
      A very silly video outlining my CS50 project,
      <%= link_to "harmonizer", "http://www.youtube.com/watch?v=2MbfRtTNZlQ" %>
      (CS50 is Harvard's Intro to Computer Science course, for which I am now a
      course assistant)
    </li><li>
      A mobile-optimized web app called
      <%= link_to "jot it!", "http://jot-it.herokuapp.com" %>
      that I helped build at Idealab (currently in alpha testing)
    </li><li>
      A <%= link_to "bike-powered lathe",
      "http://www.youtube.com/watch?v=ftWxtVFpB2w" %> I made last summer
    </li><li>
      A location-aware, google-calendar synced, auto-updating availability
      list called <%= link_to "rambl", "http://rambl.philngo.me" %>
      (under construction)
    </li></ul>
    </div>
    <div class="span2">
    </div>
</div>
