<hr/>
<h3>Introduction to DSSG - June 30,2014</h3>
<hr/>
I'm spending this summer as a fellow at the
<%= link_to "Data Science for Social Good", "http://dssg.io" %>
summer fellowship through the University of Chicago Urban Center for
Computation and Data. With twelve projects and four fellows per
per project, we make quite a splash.
<br/>
<br/>
<br/>
<br/>
