<hr/>
<h3>Hexagons and Triangles - July 20, 2014</h3>
<hr/>
<p>
I had some more fun with processing (inspired by
<%= link_to "bees and bombs", "http://beesandbombs.tumblr.com/" %>):
</p>
<%= image_tag "blog/processing_hex_tri_ease.gif"%>
<br/>
<br/>
