<hr/>
<h3>Why a blog, why now? - June 29, 2014</h3>
<hr/>
<p>
About a month ago, I walked up onto a stage wearing a funny hat and paused for
a moment holding a remarkably large red folder in one hand and grasping a hand
much older and wiser than mine in the other. Dad took my picture and I walked
off the stage having officially graduated from college.
</p>
<p>
I had done something similar once before as I finished high school. That time,
I remember wondering why they called it "commencement" when it was so clear
that the purpose of the event was that I was finishing, not beginning. Well, it
feels like a beginning this time.
</p>
<p>
As I commence again, my path is not laid out before me in a way that
I feel I can predict. Perhaps one of the reasons I am writing this blog arises
from a Hansel-and-Gretel-like desire to mark my path so that as things start to
move quickly, I'll know where I came from and what I was learning along the
way. That's not the whole story though. (After all, those bread-crumbs weren't
terribly helpful.)
</p>
<p>
Additionally, I hope to glean some actual learning in the process of writing
down my thoughts and insights. In pursuit of that mostly selfish goal, I don't
plan to enforce much of structure on the posts other than this: that I learn
something in the process of writing and sharing each.
</p>
<p>
Here goes!
</p>
<p>
<i>[edit - July 19, 2014]</i>
</p>
<p>
Today on Quora I saw a nice
<%= link_to "post", "http://www.quora.com/What-are-the-most-profound-life-lessons-from-Stanford-Professor-John-Ousterhout" %>
that did a good job of summarizing the purpose of this blog. To summarize, what
matters most is your trajectory (not your starting point), so don't be afraid
to try new things. This graph, the subject of the quora post, was part of some
advice given during a CS lecture at Stanford by Professor John Ousterhout.
</p>
<%= image_tag "blog/a-little-slope.png", size: "640x480" %>
<p>
Accordingly, I've changed the name of the blog (from "it's a blog") to better
reflect its purpose.
</p>
<p>
</p>
<br/>
<br/>
<br/>
<br/>
