<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h2>A little bit of slope makes up for a lot of y-intercept</h2>
        <hr/>
    </div>
</div>

<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-7">
        <div class="blog-content">
            <% @posts.each do |p| %>
                <%= render p %>
            <% end %>
        </div>
    </div>
    <div class="col-md-3">
    </div>
</div>
