<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1>it's a blog</h1>
    <hr/>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-7">
  <% @posts.each do |p|%>
    <%= render p %>
  <% end %>
  </div>
  <div class="col-md-3">
  </div>
</div>
