<footer class="footer"><div class="container">
  <div class="center row-fluid">
  <table width="100%">
    <tbody>
      <tr>
        <td valign="top"><p style="text-align: left;">
          <%= image_tag "philngo.png", style:"height: 160;", alt: "Photo: Phil Ngo" %>
        </td>
        <td>
          <div class="contactinfo">
            <p style="text-align: left;">
              <%= link_to "Harvard College", "http://www.harvard.edu" %>, Class of 2014<br>
              <%= link_to "Harvard Department of Chemistry and Chemical Biology", "http://www.chem.harvard.edu" %><br>
              <br>
              <table cellpadding="0" cellspacing="0" style="text-align: left;">
                <tbody>
                  <tr valign="top">
                    <td>
                      <span class="postal">12&nbsp;Leverett&nbsp;Mail&nbsp;Center<br>
                      Cambridge,&nbsp;MA&nbsp;02138<br>
                      </span>
                    </td>
                    <td>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;        
                        &nbsp;&nbsp;&nbsp;&nbsp;        
                        &nbsp;&nbsp;&nbsp;&nbsp;        
                        &nbsp;&nbsp;&nbsp;&nbsp;        
                    </td>
                    <td>
                      <span class="phone">801-244-9860</span><br>
                      <span class="email">ngo12 at college.harvard.edu</span><br>
                      <br>
                      </span>
                    </td>
                  </tr>
                </tbody>
                  <tr>
                    <td>
                        <span>Request a resume at <%= mail_to "resume@philngo.info" %></span>
                    </td>
                  </tr>
              </table>
            </p>
          </div>
        </td>
      </tr>
    </tbody>  
  </table>
  </div>
</div></footer>
