<footer class="footer">
<div class="container">
<div class="center row">
<div class="col-md-offset-2 col-md-3">
  <%= image_tag "philngo.png", style:"height: 160;", alt: "Photo: Phil Ngo" %>
</div>
<div class="col-md-7">
  <br/>
  <p style="text-align: left;">
  <%= link_to "Harvard College", "http://www.harvard.edu" %>, Class of 2014<br/>
  <%= link_to "Harvard Department of Chemistry and Chemical Biology", "http://www.chem.harvard.edu" %><br/>
  <table cellpadding="0" cellspacing="0" style="text-align: left;">
    <tbody>
    <tr valign="top">
      <td>
        <span class="postal">12&nbsp;Leverett&nbsp;Mail&nbsp;Center<br>
          Cambridge,&nbsp;MA&nbsp;02138<br>
        </span>
      </td>
      <td>
        &nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;
      </td>
      <td>
        <span class="phone">801-244-9860</span><br/>
        <span class="email">ngo12 at college.harvard.edu</span><br/>
        <br/>
      </td>
    </tr>
  <br/>
    </tbody>
    <tr>
      <td>
        <span><%= link_to "Résumé download", "/assets/NgoPhilResume2014.pdf"%></span>
      </td>
    </tr>
  </table>
  </p>
</div>
</div>
</div>
</footer>
