<div class="head">
  <table width="100%">
    <tbody>
      <tr>
        <td>
          <h1>Phil Ngo</h1>
          <div class="contactinfo">
            <p>
              <i>Harvard College</i>, Class of 2014<br>
              <a href="http://www.chem.harvard.edu">Harvard Department of Chemistry and Chemical Biology</a><br>
              <a href="http://www.harvard.edu">Harvard University</a><br>
              <br>
              <table cellpadding="0" cellspacing="0">
                <tbody>
                  <tr valign="top">
                    <td>
                      <span class="postal">28&nbsp;Dewolfe&nbsp;Street<br>
                      Cambridge,&nbsp;MA&nbsp;02138<br>
                      </span>
                    </td>
                    <td>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;        
                        &nbsp;&nbsp;&nbsp;&nbsp;        
                        &nbsp;&nbsp;&nbsp;&nbsp;        
                        &nbsp;&nbsp;&nbsp;&nbsp;        
                    </td>
                    <td>
                      <span class="phone">Mobile: +1 (801) 244-9860</span><br>
                      <span class="email">Email: ngo12 at college.harvard.edu</span><br>
                      <br>
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </p>
          </div>
        </td>
        <td valign="top"><p style="text-align: right;">
          <img src="https://lh6.googleusercontent.com/-t0Ts4al82Tc/AAAAAAAAAAI/AAAAAAAACDI/vdT1aEiRGwo/s250-c-k/photo.jpg" style="height: 160;" alt="Photo: Phil Ngo"></p>
        </td>
      </tr>
    </tbody>  
  </table>
  <div class="navbar">
    <hr style="height: 2px; width: 100%;">
      <table style="width: 100%; text-align: left; margin-left: auto; margin-right: auto;" border="0" cellpadding="0" cellspacing="0">
        <tbody><tr align="center">
          <td width="20%"></td> 
          <td width="15%">
            <a href="http://www.philngo.me">About</a> 
          </td>
          <td width="15%">
            <a href="/projects">Projects</a> 
          </td>
          <td width="15%">
            <a href="/artwork">Artwork</a> 
          </td>
          <td width="15%">
            <a href="/calendar">Schedule</a>
          </td>
          <td width="20%"></td> 
        </tr></tbody>
      </table>
    <hr style="height: 2px; width: 100%;">
  </div>
</div>
