<div id="sidebar" class="text-right">
  <ul class="list-unstyled">
    <li><b><%= link_to "home", about_path %></b></li>
    <li><b><%= link_to "projects", projects_path %></b></li>
    <li><b><%= link_to "all posts", blog_index_path %></b></li>
    <% @posts.each do |p| %>
      <li><%= link_to p, blog_path(p), class: "sidebar_link" %></li>
    <% end %>
  </ul>
</div>
